<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="60">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %t %c{1}.%M(%F:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncLogger name="cn.webank.mumble" level="debug"
                     additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
        </AsyncLogger>
 <AsyncLogger name="RocketmqClient" level="warn"
                     additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
        </AsyncLogger>

        <AsyncLogger name="appMonitor" level="info" additivity="false"
                     includeLocation="true">
            <AppenderRef ref="console"/>

        </AsyncLogger>

        <Root level="info" includeLocation="true">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>